<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Eraspace Suite" parallel="false">
    <test name="Login Tests">
        <parameter name="deviceName" value="emulator-5554"/>
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>
</suite> 